body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding: 16px 150px 0px 150px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    background-color:#1F2937 ;
    padding: 150px;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 665px;
    height: 200px;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

#maintext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.subtext , a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 6px 24px;
    border: 0;
    margin-top: 8px;
    width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    border-radius: 5px;
}

#placeholder {
    border-radius: 3px;
    width: 720px;
    height: auto;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    margin: 50px;
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offers {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.smartphone, .galaxybook, .tv, .galaxywatch {
    max-width: 200px;
}

.offers-text {
    text-align: center;
}

.offers-images {
    border: 2px solid #3882F6;
    border-radius: 7px;
    
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 500px;
}

#quote-text {
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

#quote-signature {
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}